body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
}

.header-line {
    font-size: 55px;
    font-weight: 600;
}

#header {
    width: 100vw;
    height: 100vh;
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    margin-bottom: 8%;
}

.text {
    text-align: center;
    color: rgb(238, 238, 238);
    padding: 15% 25%;
}

.button {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 10px 40px;
}

.button:hover {
    color: gold;
}

.size_of_h1 {
    color: rgb(44, 43, 43);
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin: 5% 0% 0% 0%;
}



.para_size {
    text-align: center;
    padding: 5px 25% 5% 25%;
}

.box {
    display: flex;
    justify-content: center;
    margin-top: -70px;
}

.tk {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: rgb(44, 43, 43);
    background-color: rgb(236, 235, 235);
    padding: 50px 30px;
    border-radius: 5px;
    border: 1px solid white;
}


.b2 {
    margin-left: 1%;
}

.b3 {
    margin-left: 1%;
}

.b4 {
    margin-left: 1%;
}

.b5 {
    margin-left: 1%;
}

.hv:hover {
    color: #FF5959;
    background-color: #ffdada;
    border: 2px solid #FF5959;
    margin-top: 1px;
}

.inp input {
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    opacity: calc(0.6);
    color: #B3B3B3;
    font-size: 20px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 50%;

    border-bottom: 1px solid silver;
}


.amount {
    text-align: center;
    margin-bottom: 8%;
}

.card1 {

    color: rgb(44, 43, 43);
    height: 250px;
    width: 300px;
    background-color: #edf5f6;
    padding: 60px 30px 60px 30px;
    margin: -10px 1% 5% 1%;
}

.card2 {
    color: rgb(44, 43, 43);
    height: 250px;
    width: 300px;
    background-color: #ffeeee;
    padding: 60px 30px 60px 30px;
    margin: -10px 1% 5% 1%;
}

.card3 {
    color: rgb(44, 43, 43);
    height: 250px;
    width: 300px;
    background-color: #fff4d6;
    padding: 60px 30px 60px 30px;
    margin: -10px 1% 5% 1%;
}

#cards {
    display: flex;
    justify-content: center;
}

#our {
    margin-bottom: 8%;
}